
body {
  background-color: darkgreen;
}

#board {
  width: 600px;
  height: 600px;
  border: 1px solid white;
  background-image: url("img/namic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

#walker {
  background-image: url("img/Goku.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 100px; 
  top: 100px;  
  border-radius: 50px;
}

#walker2 {
  background-image: url("img/Frieza.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 260px; 
  top: 260px;  
  border-radius: 50px;
}
