h1 {
  text-align: center;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: aliceblue;
}

main {
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  background-color: cornsilk;
  padding: 25px 300px;
  box-sizing: border-box;


}

#main-content {
  background-color: rgb(252, 242, 203);
  border: 2px solid black;
  border-collapse: collapse;
}

nav {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  border-radius: 50px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav:hover {
  color: bisque;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: bisque;

}

a:active {
  background-color: yellow;
}

a:visited {
  color: rgb(66, 3, 87);
}

.datdog {
  font-family: garamond;
}

#datTitle {
  font-family: garamond;
}

@keyframes example {
  0% {
    background-color: rgb(186, 153, 86);
    left: 0px;
    top: 0px;
  }

  25% {
    background-color: rgb(171, 141, 20);
    left: 200px;
    top: 0px;
  }

  50% {
    background-color: rgb(194, 155, 15);
    left: 200px;
    top: 200px;
  }

  75% {
    background-color: rgb(170, 153, 20);
    left: 0px;
    top: 200px;
  }

  100% {
    background-color: rgb(126, 97, 16);
    left: 0px;
    top: 0px;
  }
}

img {width: 100%}

.logo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50px;

}