
body {
  margin: 0;
  padding: 0;
  background-image: url("img/world.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(25, 104, 10);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid rgb(0, 0, 0);
  background-image: url("img/grass.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(36, 130, 192);
  z-index: 2;
}

#snake-head {
  background-image: url("img/steve.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.apple {
  background-image: url("img/apple.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}